nav{
    background-color: rgb(230, 233, 233);
    margin-bottom: 2%;
}
h3{
    background-color: rgb(230, 233, 233);
}
.image{
    clip-path: circle(12rem at 16rem 12rem);
    align-content: center;
}
main{
    display: flex;
    align-content: space-around;
    justify-self: stretch;
    margin-top: 5%;
  
}
.about{
    justify-content: center;
    width: 40%;
    height: fit-content;
    overflow: clip;
}
.skills{
    background-image: url(/images/job.png);
    object-fit: fill;
    width: 30%;
    height: fit-content;
    opacity: 0.9;
}

