nav{
    background-color: rgb(230, 233, 233);
    margin-bottom: 2%;
}
h3{
    background-color: rgb(230, 233, 233);
}
.image{
    clip-path: circle(12rem at 16rem 12rem);
    align-content: center;
}

